*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
  text-align: center;
}

#mapid {
    height: 512px;
    width: 512px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.sliced {
  width: 128px;
  height: 128px;
}

#puzzleShow {
  width: 515px;
  height: 515px;
  display: none;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: darkgrey;
}

#puzzleShow canvas {
  width: 128px;
  height: 128px;
}

#puzzleDrop {
  width: 516px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: lightgrey;
}
  
.placetodrop {
  width: 128px;
  height: 128px;
  margin: 0px;
}

#puzzleDrop canvas {
  width: 100%;
  height: 100%;
}